// variables
// colours
// fonts
@mixin baseFont {
    font-family: 'Roboto', sans-serif;
    // color: ;
    font-size: 1rem;
}
@mixin headerFont {
    font-family: 'Recursive', sans-serif; 
    // color: ;
}

// mixins
// button styles
// question styles