html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

body {
  font-size: 100%;
  font-family: 'Patrick Hand', cursive;
  margin: 0;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
  padding: 10px 20px;
  background-color: white;
  border-radius: 50px;
  font-size: 1.8rem;
  font-weight: 700;
  margin-top: 20px;
  display: inline-block;
  -webkit-transition: scale 0.3s;
  transition: scale 0.3s;
  border: 5px solid black;
}

a:hover,
a:focus {
  background-color: #8B0000;
  color: white;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

h1 {
  font-family: 'Pacifico', cursive;
}

h2 {
  font-size: 2.2rem;
  color: white;
  font-family: 'Patrick Hand', cursive;
  margin: 0;
}

@media (max-width: 850px) {
  a {
    font-size: 1.6rem;
  }
}

@media (max-width: 500px) {
  a {
    font-size: 1.2rem;
  }
}

header {
  background-image: url(../img/pexels-sharon-mccutcheon-3695378.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 110vh;
}

h1 {
  font-size: 16rem;
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 100px;
  padding-top: 70px;
  font-family: 'Pacifico', cursive;
  letter-spacing: 1px;
  color: white;
  text-shadow: -4px -4px 0 #000, 4px -4px 0 #000, -4px 4px 0 #000, 4px 4px 0 #000;
}

header h2 span {
  font-family: 'Pacifico', cursive;
  font-size: 2.2rem;
  font-weight: 400;
  text-transform: capitalize;
}

.headerDiv {
  padding: 40px;
  background-color: #DC143C;
  width: 100%;
  display: block;
  margin: 0 auto;
}

@media (max-width: 1100px) {
  h1 {
    font-size: 12rem;
  }
}

@media (max-width: 850px) {
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 1.8rem;
  }
}

@media (max-width: 565px) {
  h1 {
    font-size: 6rem;
  }
  h2 {
    font-size: 1.6rem;
  }
}

@media (max-width: 430px) {
  h1 {
    font-size: 4rem;
  }
}

main {
  padding: 200px 0;
}

.mainSectionHeading {
  font-size: 3rem;
}

main span {
  text-transform: capitalize;
  font-family: 'Pacifico', cursive;
}

.mainHeadingStyle {
  width: 100%;
  background-color: #DC143C;
  padding: 30px 0;
  margin-bottom: 75px;
}

.imageOptions {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  -ms-grid-columns: (minmax(220px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

img {
  width: 100%;
  height: 100%;
}

.images {
  width: 100%;
  border: 9px solid transparent;
  -webkit-transition: scale 0.3s;
  transition: scale 0.3s;
}

.images:hover,
.images:focus {
  border: 9px solid #DC143C;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.images:active {
  border: 9px solid #FFA500;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: scale 0.2s;
  transition: scale 0.2s;
}

.resultsTitleDiv {
  width: 100%;
  background-color: #DC143C;
  padding: 18px 0;
  margin-top: 100px;
}

.results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.resultsDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 9px solid #DC143C;
  margin-top: 50px;
  height: 55vh;
  max-width: 1000px;
}

.resultsImage {
  width: 100%;
  height: 100%;
  max-width: 600px;
  max-height: 600px;
  display: inline-block;
  border-right: 9px solid #DC143C;
}

.resultsContact {
  display: block;
  text-align: center;
  padding: 15px;
  width: 100%;
  font-size: 1.6rem;
}

@media (max-width: 1000px) {
  .resultsDiv {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  .resultsImage {
    margin: 0 auto;
    max-width: none;
    border-right: none;
    border-bottom: 9px solid #DC143C;
    max-height: 400px;
    height: auto;
  }
  .resultsContact {
    font-size: 1.4rem;
  }
}

footer {
  width: 100%;
  background-color: #DC143C;
  color: white;
  margin-bottom: 0;
}

footer p {
  margin-bottom: 0;
  padding-bottom: 20px;
}
